<p><%= t("views.users.mailer.password_changed.hello") %> <%= @resource.email %>!</p>

<p><%= t("views.users.mailer.password_changed.we're_contacting_you_to_notify_you_that_your_password_has_been_changed") %></p>
